.feedbackOptions {
    justify-content: center;
    display: flex;
    column-gap: 15px;
}

.button {
    cursor: pointer;
    background-color: #fff;
    min-width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(102, 102, 102);
    text-transform: capitalize;
    transition: background-color 250ms linear, color 250ms linear;

    &:hover {
        color: #fff;
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
    }
}

.good {
    @extend .button;
    &:hover {
        background-color: green;
    }
}

.neutral {
    @extend .button;
    &:hover {
        background-color: orange;
    }
}

.bad {
    @extend .button;
    &:hover {
        background-color: red;
    }
}
