.section {
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    &:nth-child(even) {
            background-color: #ccc;
        }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.title {
    margin: 0 0 15px 0;
    text-align: center;
}